<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
<h3>Hello, GUEST</h3>
<p>Login to get started...</p>

<button (click)="auth.googleLogin()" class="button btn-social btn-google">
  <i class="fa fa-google"></i> Connect Google
</button>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user$ | async as user">
  <h3>Hello, {{ user.displayName }}</h3>
  <p>UID: {{ user.uid }}</p>
  <button (click)="auth.signOut()" class="button">Logout</button>

  <hr>

  Subscriber: 
  <span class="tag" [class.is-success]="user.roles?.subscriber">
    {{ user.roles?.subscriber }}
  </span><br>

  Editor: 
  <span class="tag" [class.is-success]="user.roles?.editor">
    {{ user.roles?.editor }}
  </span><br>

  Admin: 
  <span class="tag" [class.is-success]="user.roles?.admin">
    {{ user.roles?.admin }}
  </span><br>
</div>


</ng-template>

<hr>